<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<configSections>

		<section name="names" type="System.Configuration.NameValueSectionHandler"/>
		<section name="categories" type="System.Configuration.NameValueSectionHandler"/>

	</configSections>


	<names>

		<add key="values" value="Bob,Ron,Jon"/>

	</names>


	<!-- CATEGORIES SECTION -->

	<categories>

		<!-- this is a list of strings for categories to ignore.
			the text is used as a keyword rather then the actual category name. 
			Ex "structural" helps ignore many structural categories-->

		<add key="values" value="structure,structural,struct,truss,cage,analytical,link,rebar,
			 vibration,bridge,pier,load,beam,footing,bracing,purlin,joist,girder,
			 obsolete,gbxml,invalid,alwaysexcludedinallviews,
			 electrical,cable,conduit,switchboard,wire,
			 hvac,duct,pipe,mep,gutter,sewer,audio,mechanical,
			 topography,road,parking,match,
			 railing,stair"/>

	</categories>

	<!-- CATEGORIES SECTION -->
	
	

</configuration>